:root {
    --accent-color: #86786f;
    --accent-color-dark: #534e4a;
    --accent-color-darker: #161a46;
    --secondary-color: #ff708f;
    --secondary-color-light: #ff85aa;
    --background-color: #f2ebe6;
    --text-color: #616161;
    --text-color-dark: #0e0e0e;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: var(--background-color);
}

header {
    text-align: center;
    font-family: "DM Serif Display", serif;
    color: var(--accent-color);
    font-size: 200%;
    font-weight: 300;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: var(--accent-color);
}

header a:hover {
    color: var(--accent-color-dark);
}

header h1 {
    margin-top: 10px;
}
.page-title {
    font-size: 250%;
    margin-bottom: 30px;
    color: var(--accent-color-dark)
}

.new_hangout-container {
    background-color: var(--accent-color);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.new_hangout-container:hover {
    background-color: var(--accent-color-dark);
    cursor: pointer;
}

.new_hangout-container a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.hangout_feed-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.hangout_feed {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hangout_feed-header {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
}

.hangout_feed-header h3 {
    font-size: 200%;
}

.hangout-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.hangout-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 10px;
}

.hangout-box .text-content {
    text-align: justify;
}

.hangout-box h2,
.hangout-box h3,
.hangout-box p,
.hangout-box a {
    margin: 0 5px 0;
    padding: 5px;
    align-items: flex-start;
    text-align: justify;
}

.hangout-box h2 {
    font-size: 300%;
    margin: 0;
    padding: 0px;
}


.hangout-box a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 80%;
}

.hangout-box a:hover {
    text-decoration: underline;
}


.attendees {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.attendee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    height: 75px;
}

.attendee img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.attendee h3 {
    margin: 0;
    color: var(--text-color-dark);
}

.attendee p {
    margin: 0;
    font-size: 90%;
    color: var(--text-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: var(--background-color);
    padding: 20px;
}

.hangout_feed-header h3 {
    font-size: 200%;
    margin-bottom: 20px;
    color: var(--accent-color-dark);
}

.memories-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.memories-container h3 {
    font-size: 200%;
    margin-bottom: 20px;
    align-self: center;
}

.memory-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memory-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.memory-card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.memory-card p {
    margin: 0;
    padding: 10px 0;
    font-size: 1em;
    color: var(--text-color);
    align-self: center;
    text-wrap: balance;
}

.memory_form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

form div {
    margin-bottom: 20px;
    width: 100%;
}

form label {
    font-weight: bold;
    display: block;
    text-align: center;
}

.image_upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_upload-container img {
    margin-bottom: 10px;
}

.image_upload-button {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.image_upload-button:hover {
    cursor: pointer;
}

.image_upload-label {
    display: flex;
    justify-content: center;
    width: 100%;
}

form textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    resize: none;
}

form input[type="file"] {
    margin-top: 10px;
}

.submit_form-button {
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-self: center;
    margin-top: 50px;
}

form button:hover {
    background-color: var(--accent-color-dark);
}

.back-button {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 150px;
    align-content: center;
    text-align: center;
    align-self: flex-start
}