:root {
    --accent-color: #86786f;
    --accent-color-dark: #534e4a;
    --accent-color-darker: #161a46;
    --secondary-color: #ff708f;
    --secondary-color-light: #ff85aa;
    --background-color: #f2ebe6;
    --text-color: #616161;
    --text-color-dark: #0e0e0e;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: var(--background-color);
}

h1 {
    font-size: 300%;
}

.new_hangout-container {
    background-color: var(--secondary-color);
    padding: 20px;
}

.new_hangout-container a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.hangout_feed-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.hangout_feed {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hangout_feed-header {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
    margin-top: 50px;
}

.hangout_feed-header h3 {
    font-size: 200%;
}

.hangout-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.hangout-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 10px;
}

.hangout-box .text-content {
    text-align: justify;
}

.hangout-box h2, 
.hangout-box h3, 
.hangout-box p, 
.hangout-box a {
    margin: 0 5px 0;
    padding: 5px;
    align-items: flex-start;
    text-align: justify;
}

.hangout-box h2 {
    font-size: 300%;
    margin: 0;
    padding: 0px;
}


.hangout-box a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 80%;
}

.hangout-box a:hover {
    text-decoration: underline;
}


.attendees {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.attendee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    height: 75px;
}

.attendee img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.attendee h3 {
    margin: 0 0px 0 0;
}

.attendee p {
    margin: 0;
    font-size: 100%;
}

.back-button {
    padding: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: white;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    align-self: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}