:root {
    --accent-color: #86786f;
    --accent-color-dark: #534e4a;
    --accent-color-darker: #161a46;
    --secondary-color: #ff708f;
    --secondary-color-light: #ff85aa;
    --background-color: #f2ebe6;
    --text-color: #616161;
    --text-color-dark: #0e0e0e;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--background-color)
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    background-color: var(--background-color);
}

header {
    text-align: center;
    font-family: "DM Serif Display", serif;
    color: var(--accent-color);
    font-size: 200%;
    font-weight: 300;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: var(--accent-color);
}

header a:hover {
    color: var(--accent-color-dark);
}

header h1 {
    margin-top: 10px;
}
.page-title {
    font-size: 250%;
    margin-bottom: 30px;
    color: var(--accent-color-dark)
}

.new_hangout-button {
    display: flex;
    background-color: var(--accent-color);
    height: 60px;
    width: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.new_hangout-button:hover {
    background-color: var(--accent-color-dark);
    cursor: pointer;
}

.hangout_feed-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.hangout_feed {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.hangout_feed-header {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
}

.hangout_feed-header h3 {
    font-size: 200%;
    margin-bottom: 20px;
    color: var(--accent-color-dark);
    text-align: center;
}

.hangout-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.hangout-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    align-self: center;
    margin-bottom: 10px;
}

.hangout-box .text-content {
    text-align: justify;
}

.hangout-box h2,
.hangout-box h3,
.hangout-box p,
.hangout-box a {
    margin: 0 5px 0;
    padding: 5px;
    align-items: flex-start;
    text-align: justify;
}

.hangout-box h2 {
    font-size: 300%;
    margin: 0;
    padding: 0px;
}


.hangout-box a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 80%;
}

.hangout-box a:hover {
    text-decoration: underline;
}


.attendees {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.attendee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    height: 75px;
}

.attendee img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.attendee h3 {
    margin: 0;
    color: var(--text-color-dark);
}

.attendee p {
    margin: 0;
    font-size: 90%;
    color: var(--text-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: var(--background-color);
    padding: 20px;
}

.pending_hangout_feed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.pending_hangout-header h3 {
    font-size: 200%;
    margin-bottom: 20px;
    color: var(--accent-color-dark);
    text-align: center;
}

.invitation-response {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.invitation-response button {
    width: 100px;
    padding: 15px 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}

.invitation-response button:hover {
    background-color: var(--accent-color-dark);
}

.back-button {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 150px;
    align-content: center;
    text-align: center;
    align-self: flex-start
}