:root {
    --accent-color: #5481ff;
    --accent-color-dark: #3150ff;
    --accent-color-darker: #161a46;
    --secondary-color: #ff708f;
    --secondary-color-light: #ff85aa;
    --background-color: #ffebb4;
    --text-color: #616161;
    --text-color-dark: #0e0e0e;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* login-container encompasses the whole viewport */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

/* login-container form is the form itself/the white box visible on screen */
.login-container form {
    display: flex;
    background-color: #fff;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}

.header-div {
    display: flex;
    flex: 1;
    justify-content: center;
    color: var(--text-color-dark);
    font-size: 200%;
    font-weight: extra-bold;
    margin-top: 50px;
    margin-bottom: 0px;
}

/* form-group is a class for each element of the login-container */
.input-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 0px;
    text-align: left;
    justify-content: center;
    align-content: center;
}

.input-div a {
    color: var(--text-color-dark);
    text-decoration: none;
}

.input-div a:hover {
    color: var(--accent-color);
}

/* Styling for text input boxes */
input[type='username'],
input[type='email'],
input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 15px;
    border: 1px solid #00000020;
    border-radius: 7.5px;
    box-sizing: border-box;
    font-size: 100%;
    color: var(--text-color)
}

input[type='password'] {
    margin-top: 20px;
}

input[type='text']:focus,
input[type='password']:focus {
    accent-color: var(--accent-color);
}

/* make the placeholder text transparent when focused */
input[type='text']:focus::placeholder,
input[type='password']:focus::placeholder {
    color: transparent;
}

/* handles the div that contains the 'Remember Me?' checkbox and 'Forgotten Password?'*/
.extras-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 75%;
    color: var(--text-color);
}

.remember-me-div {
    display: flex;
    align-items: center;
}

.forgot-password-div a {
    color: var(--text-color);
    text-decoration: none;
}

.forgot-password-div a:hover {
    color: var(--accent-color);
    cursor: pointer;
}

input[type='checkbox'] {
    accent-color: var(--accent-color);
    transform: scale(1.35);
    margin-right: 10px;
}

/* handles the div that contains the 'Sign In' button */
.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    flex: 1;
}
.button-div p {
    font-size: 75%;
    color: var(--text-color);
    margin-top: auto;
}

.button-div a {
    color: var(--accent-color);
    text-decoration: none;
}

button[type='submit'] {
    background-color: var(--accent-color);
    color: #fff;
    width: 100%;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 100%;
}

button[type='submit']:hover {
    background-color: var(--accent-color-dark);
}