:root {
    --accent-color: #86786f;
    --accent-color-dark: #534e4a;
    --accent-color-darker: #161a46;
    --secondary-color: #ff708f;
    --secondary-color-light: #ff85aa;
    --background-color: #f2ebe6;
    --text-color: #616161;
    --text-color-dark: #0e0e0e;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    background-color: var(--background-color);
    padding: 20px;
}

.form-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-family: "DM Serif Display", serif;
    color: var(--accent-color);
    font-size: 200%;
    font-weight: 400;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: var(--accent-color);
}

header a:hover {
    color: var(--accent-color-dark);
}

header h1 {
    margin-top: 10px;
}

.page-title {
    font-size: 250%;
    color: var(--accent-color-dark)
}

.hangout_title-container,
.invitee-container,
.location-container {
    margin-bottom: 20px;
}

.hangout_title-container {
    display: flex;
    align-items: center;
}

.pen-icon {
    margin-right: 10px;
}

.hangout_title h2 {
    margin: 0;
    padding: 0;
}

.invitee-header {
    display: flex;
    align-items: center;
}

.user-icon {
    margin-right: 10px;
}

.location-container h3,
.location-container i {
    display: flex;
    justify-content: center;
}

.invitee_search-container,
.invitee_list-container,
.location_input-container {
    margin-top: 20px;
}

.invitee_search-container {
    display: flex;
}

.invitee-container,
.invited_list {
    display: flex;
    flex-direction: column;
}

#invitee-input {
    display: flex;
    width: 15%;
    padding: 15px;
    border: 1px solid #00000020;
    font-size: 100%;
    color: var(--text-color);
    align-self: center;
}

.invitee-card,
.invited-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 100px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

.invitee-card img,
.invited-card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.invitee-card h3,
.invited-card h3 {
    margin: 0;
    margin-right: 30px;
    color: var(--text-color-dark);
}

.invitee-card p,
.invited-card p {
    margin: 0;
    color: var(--text-color);
}

.invitee-card button {
    margin-right: 10px;
    background-color: var(--accent-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.invited-card button {
    margin-right: 10px;
    background-color: var(--accent-color);
    color: white;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.invitee-card button:hover {
    background-color: var(--accent-color-dark);
}

.invited-card button:hover {
    background-color: var(--accent-color-dark);
}

.location_input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-caption {
    margin: 0 0 10px;
    text-align: center;
    color: var(--text-color);
}

#prompt {
    width: 75%;
    padding: 15px;
    border: 1px solid #00000020;
    font-size: 100%;
    color: var(--text-color);
    margin-bottom: 20px;
}

#prompt-submit {
    background-color: var(--accent-color);
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#prompt-submit:hover {
    background-color: var(--accent-color-dark);
}

#prev-images,
#next-images {
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#prev-images:hover,
#next-images:hover {
    background-color: var(--accent-color-dark);
}

.place_overlay-container {
    display: none;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.overlay_content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.place-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px
}

.place-image {
    align-self: center;
    margin-top: 10px;
}

.place-image:hover {
    opacity: .8;
}


.place-name {
    font-size: 150%;
    font-weight: bold;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 0;
}

.place-address {
    font-size: 90%;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

.place-item:hover {
    cursor: pointer;
}

#place_image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#confirm_hangout-button {
    background-color: var(--accent-color);
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-size: 100%;
    font-weight: bold;
}

#place_name {
    color: var(--accent-color);
    font-size: 200%;
    margin-bottom: 10px;
}

#place_address {
    color: var(--text-color-dark);
    font-size: 120%;
    font-weight: bold;
    margin-top: 0px;
}

#place_review_summary{
    color: var(--text-color);
    margin-top: 5px;
}

#confirm_hangout-button:hover {
    background-color: var(--accent-color-dark);
}

#place_maps_link {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 85%;
    margin-top: 10px;
}

#place_maps_link:hover {
    text-decoration: underline;
}

.back-button {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 150px;
    align-content: center;
    text-align: center;
    align-self: flex-start
}
