{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/friends.css') }}">
{% endblock %}

{% block head %}
<title>Friends</title>
{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Friends</h1>
    <div class="friends_request-container">
        <h5>Friend Requests</h5>
        <p id="friend-request-counter" class="friend-request-counter"></p>
        <div class="friend_request_display-container" id="friend-requests"></div>
        <div class="friend_request_list-container" id="friend-requests-list" style="display: none;">
            <span id="friend-requests-list-close">&times;</span>
            <div class="friend_request_list_display-container" id="friend-requests-list-display"></div>
        </div>
    </div>
    <div class="friends-container">
        <div class="add_friend-container">
            <h3>Add Friend:</h3>
            <form id="user_search-form">
                <input type="text" id="user_search-input" name="user_search" placeholder="Enter name or username">
                <button type="submit" id="user_search-submit" class="search-button">Search Users</button>
            </form>

            <div class="user_search_results-container" id="search-result" hidden="true">

            </div>
        </div>
        <div class="friends_list-container">
            <h3>Friends:</h3>
            <div class="friends_list_display-container" id="friends-list">
            </div>
        </div>
    </div>
    <a href="{{url_for('home')}}" class="back-button">Return</a>
    
    {% block script %}
    <script src="{{ url_for('static', filename = 'js/friends.js')}}"></script>
    {% endblock %}
</div>
{% endblock %}