{% extends 'base.html' %}

{% block stylesheet %}
<link rel = 'stylesheet' href = '{{ url_for("static", filename = "css/hangouts.css")}}'>
{% endblock %}

{% block head %}
<title>My Hangouts</title>
{% endblock %}

{% block body %}
<div class="page-container">
    <header>
        <a href="{{ url_for('home') }}"><h1>meet.ly</h1></a>
    </header>
    <h1 class="page-title"> Hangouts </h1>
    <div class="new_hangout-container">
        <a class="new_hangout-button" href="{{url_for('new_hangout')}}">New Hangout</a>
    </div>
    <div class="pending_hangout-header">
        <h3>Pending Hangouts:</h3>
    </div>
    <div class="pending_hangout-container">
        <div class="pending_hangout_feed" id="pending_hangout_feed">
            <p>Loading...</p>
        </div>
    </div>
    <div class="hangout_feed-header">
        <h3>My Hangouts:</h3>
    </div>
    <div class="hangout_feed-container">
        <div class="hangout_feed" id="hangout_feed">
            <p>Loading...</p>
        </div>
    </div>
    <br>
    <a href="{{ url_for('home')}}" class="back-button">Back to Home</a>
</div>

{% block script %}
<script src="{{ url_for('static', filename = 'js/hangouts.js') }}"></script>
{% endblock %}

{% endblock %}