{% extends 'base.html' %}
{% block stylesheet %}
<link rel = 'stylesheet' href = '{{ url_for("static", filename = "css/memories.css")}}'>
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="page-container">
    <h1>{{ hangout.name }}</h1>
    <div class="memories-container">
        <h3>Memories</h3>
        <div class="memory-feed" id="memory-feed">
            {% if memories %}
                    {% for memory in memories %}
                    <div class="memory-card">
                        {% if memory.image %}
                            <img src="{{ url_for('static', filename='images/memories/' + memory.image) }}" alt="Memory Image">
                        {% endif %}
                        <p>{{ memory.text }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="memory-card">
                    <p>No memories for this hangout yet, add a memory!</p>
                </div>
            {% endif %}
        </div>
    </div>
    <h2>Add a New Memory</h2>
    <form action="{{ url_for('process_add_memory') }}" method="post" enctype="multipart/form-data">
        <div class="image_upload-container">
            <img id="image-preview" src="" alt="Image Preview" style="display: none; max-width: 100%; height: auto; " >
            <label for="image">Upload Image</label>
            <input type="file" id="image" name="image" accept="image/png, image/jpeg" style="display: none;" placeholder="Upload Image" onchange="previewImage(event)" required>
        </div>
        <div class="text_input-container">
            <label for="text">Add a caption!</label>
            <br>
            <textarea id="text" name="text" rows="4" required></textarea>
        </div>
        <input type="hidden" name="hangout_id" value="{{ hangout.id }}">
        <button type="submit">Add Memory</button>
    </form>
    <a href="{{url_for('home')}}">Return</a>
</div>

<script>
    function previewImage(event) {
        const input = event.target;
        const reader = new FileReader();

        reader.onload = function(){
            const preview = document.getElementById('image-preview');
            preview.src = reader.result;
            preview.style.display = 'block';
        };

        reader.readAsDataURL(input.files[0]);
    }
</script>
{% endblock %}