{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/new_hangout.css') }}">
{% endblock %}

{% block head %}
<title>Create Hangout</title>
<h1>Create a new Hangout</h1>
<script src="https://kit.fontawesome.com/c5e9f26cf9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="form-container">
        <div class="hangout_title-container">
            <div class="pen-icon">
                <i class="fa-solid fa-pen"></i>
            </div>
            <div class="hangout_title">
                <h2 contenteditable="true" id="hangout_name">Hangout Name (Edit me!)</h2>
            </div>
        </div>
        <div class="invitee-container">
            <div class="user-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <h3>Invitees:</h3>
            <form type="text" id="invitee-input-form" placeholder="Enter name or username">
                <input type="text" id="invitee-input" placeholder="Enter name or username">
            </form>
            <div class="invitee_search-container" id="invitee-search"></div>
            <div class="invitee_list-container">
                <h3>Invitees:</h3>
                <div class="invited_list" id="invited-list">Invite a friend!</div>  
            </div>
        </div>
        <div class="location-container">
            <h3>Where would you like to go?</h3>
            <div class="location-icon">
                <i class="fa-solid fa-compass"></i>
            </div>
            <div class="location_input-container">
                <div class="prompt-container">
                    <p>Provide a prompt to search for a venue!</p> <!-- Align this below the header -->
                    <input type="text" id="prompt" placeholder="Prompt">
                    <button id="prompt-submit">
                        Submit Prompt
                    </button>
                    <button id="prev-images">Previous</button>
                    <button id="next-images">Next</button>
                    <div class="place_image-container" id="place_image-container"></div>
                </div>
                <div class="manual_input_container">
                    <p>Or enter a venue name manually:</p> 
                    <!-- Implement Google Places API Autocomplete -->
                    <input type="text" id="venue-input" placeholder="Enter venue name">
                    <button id="venue-submit">Submit</button>
                </div>
                <div class="place_overlay-container" id="place_overlay-container">
                    <div class="overlay_content-container" id="overlay_content-container">
                        <img id="place_image" src="" alt="Place Image">
                        <h2 id="place_name"></h2>
                        <p id="place_id" hidden></p>
                        <p id="place_address"></p>
                        <p id="place_latitude" hidden></p>
                        <p id="place_longitude" hidden></p>
                        <p id="place_review_summary"></p>
                        <label for="hangout_datetime">Date and Time:</label>
                        <input type="datetime-local" id="hangout_datetime">
                        <a id="place_maps_link" href="" target="_blank">View on Google Maps</a>
                        <button id="confirm_hangout-button">Add Hangout</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script src = "{{ url_for('static', filename = 'js/new_hangout.js')}}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsqXAw5paGfj1xv-SvrJgOcaowqEo9W6Y&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}

{% endblock %}

