{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/new_hangout.css') }}">
{% endblock %}

{% block head %}
<title>Create Hangout</title>
<h1>Create a new Hangout</h1>
<script src="https://kit.fontawesome.com/c5e9f26cf9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="form-container">
        <div class="hangout_title-container">
            <div class="pen-icon">
                <i class="fa-solid fa-pen"></i>
            </div>
            <div class="hangout_title">
                <h2 contenteditable="true" id="hangout_name">Hangout Name (Edit me!)</h2>
                <!-- I want this to be editable and be submitted as the title of the hangout for when it is stored in the database -->
            </div>
        </div>
        <div class="invitee-container">
            <div class="user-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <h3>Invitees:</h3>
            <input type="text" id="invitee-input" placeholder="Enter name or username">
            <!-- A box here that you can type someone's name in, if they are a user of the app suggest autocomplete from friends list, otherwise can manually input name of someone that doesn't use the app -->
            <!-- Once a name/username has been input and submitted, it should persist as a rounded box with the name of the user inside of it -->
        </div>
        <div class="location-container">
            <h3>Where would you like to go?</h3>
            <div class="location-icon">
                <i class="fa-solid fa-compass"></i>
            </div>
            <div class="location_input-container">
                <div class="prompt-container">
                    <p>Provide a prompt to search for a venue!</p> <!-- Align this below the header -->
                    <!-- A text field that a user can input a prompt that the OpenAI API will respond with a JSON object to be used to search Google Places API -->
                    <input type="text" id="prompt" placeholder="Prompt">
                    <button id="prompt-submit">
                        Submit Prompt
                    </button>
                    <button id="prev-images">Previous</button>
                    <button id="next-images">Next</button>
                    <div class="place_image-container" id="place_image-container"></div>
                </div>
                <div class="manual_input_container">
                    <p>Or enter a venue name manually:</p> 
                    <!-- Implement Google Places API Autocomplete -->
                    <input type="text" id="venue-input" placeholder="Enter venue name">
                    <button id="venue-submit">Submit</button>
                </div>
                <div class="place_overlay-container" id="place_overlay-container">
                    <div class="overlay_content-container" id="overlay_content-container">
                        <img id="place_image" src="" alt="Place Image">
                        <h2 id="place_name"></h2>
                        <p id="place_address"></p>
                        <p id="place_review_summary"></p>
                        <a id="place_maps_link" href="" target="_blank">View on Google Maps</a>
                        <button id="confirm_venue-button">Add Hangout</button>
                    </div> 
                </div>
                
                <!-- An input field for the name of a venue, once filled it should fetch and dynamically update the box next to the header with information of the place from OpenStreetMap API with a picture and a description -->
                <!-- Once a user inputs a venue/location and submits the hangout the venue should be stored in the database so that the user can add a publicly visible rating -->
            </div>
        </div>
    </div>
</div>

{% block script %}
<script src = "{{ url_for('static', filename = 'js/hangout.js')}}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsqXAw5paGfj1xv-SvrJgOcaowqEo9W6Y&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}

{% endblock %}

