{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}">
{% endblock %}

{% block head %}
<div class="page-container">
    <div class="nav-container">
        <div class="user-container">
            <h1>{% if current_user.firstname %}
                {{ current_user.firstname }}
                {% else %}
                {{ current_user.username }}
                {% endif %}
            </h1>
            <div class="profile-picture-container">
                <img src="{{ url_for('static', filename = 'images/profile_pictures/' + current_user.profile_picture) }}"
                    alt="Profile Picture">
            </div>
            <div class="sidebar-container">
                <a href="{{ url_for('home') }}">
                    Home
                </a>
                <a href="{{ url_for('memories') }}">
                    My Memories
                </a>
                <a href="{{ url_for('profile') }}">
                    Scrapbook
                </a>
                <a href="{{ url_for('settings') }}">
                    Settings
                </a>
            </div>
        </div>
    </div>
</div>

<!-- 
- Display username
- Display profile picture
- Display current location if public
- Display public memories
- Link to settings
- Link to memories
- Link to home
- Link to logout
-->