{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}">
{% endblock %}

{% block head %}
<div class="page-container">
    <div class="nav-container">
        <div class="user-container">
            <h1>{% if current_user.firstname and current_user.lastname %}
                {{ current_user.firstname }}
                {{ current_user.lastname }}
                {% else %}
                {{ current_user.username }}
                {% endif %}
            </h1>
            <div class="profile-picture-container">
                {% if current_user.profile_picture == None %}
                <img src="{{ url_for('static', filename = 'images/profile_pictures/profile-picture_default.jpg') }}" alt="Profile Picture">
                {% else %}
                <img src="{{ url_for('static', filename = 'images/profile_pictures/' + current_user.profile_picture) }}"
                    alt="Profile Picture">
                {% endif %}
            </div>
        </div>
        {% if user_profile == True %}
        <div class="profile-update-container">
            <h3>Update Profile</h3>
            <form action="{{ url_for('process_update_profile') }}" method="post" enctype="multipart/form-data">
                <label for="profile_picture">Profile Picture:</label>
                <input type="file" name="profile_picture" id="profile_picture">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" id="firstname" value="{{ current_user.firstname }}">
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" id="lastname" value="{{ current_user.lastname }}">
                <button type="submit">Save Changes</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block body %}
{% endblock %}
<!-- 
- Display username
- Display profile picture
- Display current location if public
- Display public memories
- Link to settings
- Link to memories
- Link to home
- Link to logout
-->