{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/welcome.css')}}">
{% endblock %}

{% block head %}
<title>Welcome to meet.ly</title>
{% endblock %}

{% block body %}
<div class="welcome-container">
    <div id='alert-banner' class='alert-banner' style='display: none;'>
        <p>
            Location obtained successfully!
        </p>
    </div>
    <div class="form-container">
        <form action="{{ url_for('welcome')}}" method="post" enctype="multipart/form-data">
            <div class="header-container">
                <h1>
                    Welcome!
                </h1>
            </div>
            <div class="picture_upload-container">
                <div class="profile_picture-container">
                    <img src="{{ url_for('static', filename = 'images/profile_pictures/profile-picture_default.jpg') }}"
                        alt="Profile Picture"
                        data-default="{{ url_for('static', filename = 'images/profile_pictures/profile-picture_default.jpg') }}">
                </div>
                <div class="upload_button-container">
                    <label for="profile-picture">
                        Upload Profile Picture
                    </Label>
                    <input type="file" id="profile-picture" name="profile_picture" accept="image/png, image/jpeg"
                        style="display: none;" placeholder="Upload Profile Picture" onchange=newProfilePicture()>
                    <button type="button" class="remove-button" onclick="removeProfilePicture()">
                        Remove
                    </button>
                </div>
            </div>
            <br></br>
            <div class="location_input-container">
                <div class="geolocation-container">
                    <button onclick="getLocation(event)">
                        Get current location
                    </button>
                </div>
                <div class="manual_location-container">
                    <input type="text" id="location_autocomplete" name="location" placeholder="Enter your location">
                    <p>
                        Or manually input location.
                    </p>
                </div>
                <!-- Debug Mode elements -->
                <div class="debug_mode" id="debug_mode" style="display: none">
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                    <button type="button" id="debug_coords" onclick="toggleDebugButton()">
                        Show coordinates
                    </button>
                </div>
            </div>
            <a href="{{url_for('logout')}}" id="logout-button">
                Logout
            </a>
            <button type="submit">
                Submit
            </button>
        </form>
    </div>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename = 'js/welcome.js') }}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsqXAw5paGfj1xv-SvrJgOcaowqEo9W6Y&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}

{% endblock %}